div.dokuwiki div.tags {
  padding-top: 0.5em;
  border-top: 2px dotted __border__;
  font-size: 95%;
  text-align: right;
  clear: both;
}

div.dokuwiki table.topic {
  border: 0;
  padding: 0;
  border-spacing: 0;
  margin-bottom: 1em;
  border-collapse: collapse;
}

div.dokuwiki table.topic td {
  padding: 1px 2em 1px 0;
  border-top: 1px solid __border__;
  border-bottom: 1px solid __border__;
}

div.dokuwiki table.topic td.date, div.dokuwiki table.topic td.user {
  color: __text_neu__;
  font-size: 80%;
}

div.dokuwiki a.feed {
  background: transparent url(images/rss_icon.png) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}
